/*Navbar*/
body {
          padding-top: 50px;
          position: relative;
      }
      
      pre {
          tab-size: 8;
      }
      
      @media screen and (max-width: 768px) {
          .side-collapse-container{
              width:100%;
              position:relative;
              left:0;
              transition:left .4s;
          }
          .side-collapse-container.out{
              left:200px;
          }
          .side-collapse {
              top:50px;
              bottom:0;
              left:0;
              width:200px;
              position:fixed;
              overflow:hidden;
              transition:width .4s;
          }
          .side-collapse.in {
              width:0;
          }
      }

      @media screen and (min-width: 992px){
      	.navbar-nav{
      		float: right;
      	}
      }
/*Navbar Finish*/

#favourite-icon{
	text-align: center;
}

#favourite-icon img{
	position: absolute;
	left: 60%;
	top: 30px;

}

#service-label{
	margin-top: 30px;
}

.waiting-time{
	max-width: 200px;
	background-color: green;
	color: #fff;
	text-align: center;
}

.waiting-time h6{
	vertical-align: middle;
	padding: 5%;
}

.ads-container{
	margin-top: 50px;
}