	<h2 class="page-header">Password Reset</h2>
  {{#if errors}}
  {{#each errors}}
  <div class="alert alert-danger">{{msg}}</div>
  {{/each}}
  {{/if}}
  {{#each errmsgs}}
  <div class="alert alert-danger">{{errmsg}}</div>
  {{/each}}
  <form method="post" action="/users/password-reset">
    <div class="form-group">
      <label>New Password</label>
      <input type="text" class="form-control" name="newPassword" placeholder="New Password">
    </div>
    <div class="form-group">
      <label>Confirm New Password</label>
      <input type="text" class="form-control" name="newPassword2" placeholder="Reenter New Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>