
<div class="container">
	<div class="row">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<h3>Branch name is taken from the db</h3>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<h3>Branch location is taken from the db</h3>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="favourite-icon">
			<a href="#"><img src="../icons/star.png" alt="favourite"></a>
		</div>								
	</div>
	<div id="service-label">
		<h3>Select your service: </h3>
	</div>
	<div class="container">
		<div class="row">
			<div class="container">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<a href="#"><h4>Service 1</h4></a>
				</div>	
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="waiting-time center-block">
						<h6 id="waiting-time-label">waiting time based on calc.</h6>
					</div>
				</div>				
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="container">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<a href="#"><h4>Service 2</h4></a>
				</div>	
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="waiting-time center-block">
						<h6 id="waiting-time-label">waiting time based on calc.</h6>
					</div>
				</div>				
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="container">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<a href="#"><h4>Service 3</h4></a>
				</div>	
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="waiting-time center-block">
						<h6 id="waiting-time-label">waiting time based on calc.</h6>
					</div>
				</div>				
			</div>
		</div>
	</div>

	<!-- Ads -->
	<div class="ads-container">
		<h2 class="text-center">Ads</h2>
	</div>
	<div class="ads">
		<div><img src="../ads/img1.jpg"></div>
		<div><img src="../ads/img2.jpg"></div>
		<div><img src="../ads/img3.jpg"></div>
	</div>
	<!-- Ads finish -->
</div>