	<div class="container">
		<h1>TRACK YOUR NUMBER</h1>
		<div class="row text-center">
			<div class="col-xs-6 col-xs-offset-6 col-sm-6 col-sm-offset-6  col-md-6 col-md-offset-6">
				<p style="color:red;">WAITING TIME</p>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 service">
				<p>SERVICE</p>
			</div>
			<div class="col-xs-2 col-xs-offset-2 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 time">
				<p>TIME</p>
			</div>
		</div>

		<!-- Ads -->
		<div class="ads-container">
			<h2 class="text-center">Ads</h2>
		</div>
		<div class="ads">
			<div><img src="../ads/img1.jpg"></div>
			<div><img src="../ads/img2.jpg"></div>
			<div><img src="../ads/img3.jpg"></div>
		</div>
		<!-- Ads finish -->
	</div>